.footer {}

.footer__title {
    text-align: center;
    margin: 0 auto;
    color: black;
    padding-top: 71px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */

}

.footer__description {
    padding-top: 32px;
    padding-bottom: 136px;

    max-width: 640px;

    /* p */
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
}