.checkbox {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

.checkbox__control {
  box-sizing: border-box;
  /* Rectangle 3.1 */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  background: var(--white);
  /* Gray 2 */
  border: 1px solid var(--grey-2);
  border-radius: 4px;
}

.checkbox__icon {
  display: none;
}

.checkbox__title {
  /* p */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray 4 */

  color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__control {
  /* Blue */
  border: 0;
  background: var(--blue-secondary);
}

.checkbox__input:checked ~ .checkbox__control .checkbox__icon {
  display: block;
}

.checkbox__input:disabled ~ .checkbox__control {
  /* Gray 2 */
  background: var(--grey-2)
}

.checkbox__input:disabled ~ .checkbox__title {
  /* Gray 2 */
  color: var(--grey-2);
}

.checkbox__input:focus ~ .checkbox__title {
  text-decoration: underline;
}