.preview {
    background: #F9FAFC;
    padding-bottom: 67px;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 67px;
    /* margin-bottom: 67px; */ 
    /* выпадает этот отступ, вместо марджина здесь задал паддинг в .pewview выше */
}

.card {
    width: 350px;
    height: 367px;
    background: #FFFFFF;
    /* Card Shadow */

    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}