.modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.5);
}

.modal_preview {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal__window {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background: var(--white);
  border-radius: 8px;
}

.modal__window_preview {
  width: 80%;
  height: auto;
}

.modal__title {
  margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #334d6e;
}

.modal__content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  /* or 150% */

  /* Gray 4 */

  color: #495057;
}

#modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  /* сброс стилей кнопки */
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}



@media screen and (min-width: 1280px) {
  .modal__window {
    padding: 30px 40px;
  }

  .modal__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 24px;
  }

  .modal__content {
    font-size: 16px;
    line-height: 24px;
  }

  #modal__close {
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
  }
}
