.input__label {
  /* h5 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Gray 3 */

  color: var(--grey-3);
}

.input {
}

.input__control {
  box-sizing: border-box;
  width: 350px;
  height: 56px;

  background: var(--white);
  /* Gray 2 */

  border: 1px solid var(--grey-2);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 18px;
}

.input__value {
  /* h4 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  /* Gray 2 */

  color: var(--grey-4);
}

.input__value_placeholder {
  color: var(--grey-2);
}

.input__state-icon {
  width: 24px;
  height: 24px;
}

.input__default-field {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.input__default-field_invalid ~ .input__control .input__state-icon {
  content: url('./public/error.svg');
}

.input__default-field_success ~ .input__control .input__state-icon {
  content: url('./public/success.svg');
}

.input__default-field:focus ~ .input__control {
  border-color: var(--blue-secondary);
}

.input__default-field_invalid:focus ~ .input__control {
  border-color: var(--red);
}
